.main {
	margin: 1em 0;
}

@media print {
	.main {
		page-break-before: always;
		margin: 0;

		&:first-child {
			page-break-before: avoid;
		}
	}
}

.title {
	font-size: 2em;
}

.grid {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	border: 1px solid #bbbbbb;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-around;
	border-top: 1px solid #bbbbbb;

	&:first-child {
		border-top: none;
	}
}

.headerRow {
	background-color: #eeeeee;

	& .cell {
		align-self: center;
	}
}

.column {
	flex: 1 1 0;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	border-left: 1px solid #bbbbbb;

	&:first-child {
		border-left: none;
		flex: 0 0 80px;
		font-size: 0.8em;
	}
}

.columnTwo {
	flex: 2 1 0;
}

.columnThree {
	flex: 3 1 0;
}

.columnFour {
	flex: 4 1 0;
}

.headerColumn {
	background-color: #eeeeee;
}

.cell {
	text-align: center;
	flex: 1 1 0;
	padding: 0.4em;
	word-break: break-all;
	word-break: break-word;
	border-left: 1px solid #dddddd;

	&:first-child {
		border-left: none;
	}
}
