.main {
	margin: 0;
}

.form {
	margin: 0;
	padding: 0;
}

.form-row {
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	margin-bottom: 1em;
}

.form-header-cell {
	/* margin-top: 1em; */
}

.form-field-cell {
	display: flex;
	font-size: 0.9em;
	flex-direction: row;
	flex-wrap: wrap;

	& > * {
		margin: 0.5em;
	}
}
