.main {
	margin: 0;
	padding: 0.5em;
	display: flex;
	flex-direction: row;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.selected {
	background-color: green;
}

.infoTopics {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: center;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.infoTopics > * {
	font-size: 0.6em;
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 0.2em;
	margin: 0.2em;
	padding: 0.2em 0.3em;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
}
